<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
	</configSections>


	<connectionStrings>
		<add name="MySQL" connectionString="data source=.\SQLEXPRESS;AttachDBFileName=|DataDirectory|\Log4Net.mdf;Integrated Security=SSPI;User Instance=true" providerName="System.Data.SqlClient" />
		<!--<add name="SQLite" connectionString="data source=|DataDirectory|\Log4NetSQLite.db" providerName="System.Data.SQLite.EF6" />-->
		<add name="SQLite" connectionString="data source=|DataDirectory|\Log4NetSQLite.db;version=3;UTF8Encoding=True;" providerName="System.Data.SQLite" />
		<add name="SQLServer" connectionString="Data Source=192.168.8.163;Initial Catalog=HR_DigitalNewTest2;User ID=sqltest163;Password=sqltest163;Connect Timeout=1500;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<log4net>
		<appender name="ElasticSearchAppender" type="log4net.ElasticSearch.ElasticSearchAppender, log4net.ElasticSearch">
			<connectionString value="Server=localhost;Index=log;Port=9200;"/>
			<bufferSize value="0"/>
		</appender>
		<root>
			<level value="ALL"/>
			<appender-ref ref="ElasticSearchAppender"/>
		</root>
	</log4net>
</configuration>
